<section class="page-section portfolio" id="portfolio">
    <div class="container">

        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Mon parcours</h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            {% for post in posts %}
                {# <!-- Portfolio Item {{ post.id }} --> #}
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="{{ '#' ~ 'modal-article-' ~ post.id }}" >
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="public/assets/img/portfolio/{{ post.media }}" alt="..."/>
                        <strong>{{ post.title }}</strong>
                        <p>{{ post.chapo }}</p>
                    </div>
                </div>
            {% endfor %}
       </div>
    </div>
</section>

{% for post in posts %}
{# <!-- Portfolio Modal {{post.id}}--> #}
<div class="portfolio-modal modal fade" id="{{ 'modal-article-' ~ post.id }}" tabindex="-1" aria-labelledby="{{ post.id }}" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">

                        <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">titre : {{ post.id }} {{ post.title }}</h2>

                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>

                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="public/assets/img/portfolio/{{ post.media }}" alt="..." />
                            
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4"> et ici le contenu : {{ post.content }}</p>
                            <button class="btn btn-primary" href="#!" data-bs-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Fermer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}