{% extends "admin/base.html.twig" %}

{# code security : only admin can access in this page #}
{% block title %} Détail article {% endblock %}

{% block content %}
    
     <!-- Messages de retour d'action-->
    {% if session.ErrorMessage != "" %}
            <div class="d-grid gap-2 col-6 mx-auto">
                <div class="alert alert-danger" role="alert">
                    {{ session.ErrorMessage }}
                </div>
            </div>
    {% endif %}

    {% if session.SuccessMessage != "" %}
            <div class="d-grid gap-2 col-6 mx-auto">
                <div class="alert alert-success" role="alert">
                    {{ session.SuccessMessage}}
                </div>
            </div>
    {% endif %}

    <!-- section -->
    <section class="page-section portfolio " id="portfolio">
        <div class="container">

            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Détail de l'article</h2>
            
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form name="PostDetail">
                    {% for postDetail in post %}
                        <div class="mb-3 row">
                            <label for="title" class="col-sm-2 col-form-label">Titre</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{ postDetail.title }}" readonly>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="chapo" class="col-sm-2 col-form-label">Chapô</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" type="text" rows="2" readonly>{{ postDetail.chapo}}</textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="content" class="col-sm-2 col-form-label">Contenu</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" type="text" rows="5" readonly>{{ postDetail.content}}</textarea>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="mediaExist" class="col-sm-2 col-form-label">Média</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{ postDetail.media}}" readonly>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="isPublished" class="col-sm-2 col-form-label">Publié ? </label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value="{% if postDetail.isPublished == 0 %}
                                                                                    {{ 'Non' }}
                                                                                {% endif %}
                                                                                {% if postDetail.isPublished == 1 %}
                                                                                    {{ 'Oui' }}
                                                                                {% endif %}" readonly>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="admin" class="col-sm-2 col-form-label">Admin</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" value=" {% for admin in admins %} 
                                                                                    {{ admin.pseudo }}
                                                                                 {% endfor %}"  readonly>
                            </div>
                        </div>
                </form>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <div class="row g-3">

                    <!-- Modifier un article -->
                    <div class="col-sm">
                        <form  name="editPostFormular" action="index.php?editPostFormular" method="post" accept-charset="UTF-8"> 
                            <input type="hidden" name="idPost" value="{{ postDetail.id }}" id="checkEditPost">
                            <input type="hidden" name="title" value="{{ postDetail.title }}">
                            <input type="hidden" name="content" value="{{ postDetail.content }}">
                            <input type="hidden" name="chapo" value="{{ postDetail.chapo }}">
                            <input type="hidden" name="media" value="{{ postDetail.media }}">
                            <input type="hidden" name="isPublished" value="{{ postDetail.isPublished }}">
                            <input type="hidden" name="createdAt" value="{{ postDetail.createdAt }}">
                            <input type="hidden" name="updatedAt" value="{{ postDetail.updatedAt }}">
                            <input type="hidden" name="userId" value="{{ postDetail.user_id }}">

                            <div class="form-check">
                                <label class="form-check-label" for="checkEditPost">
                                    <button type="submit" class="btn btn-light"><img src="public\assets\img\pencil.svg"></button>
                                </label>
                            </div>
                        </form>
                    </div>

                    <!-- Supprimer un article -->
                    <div class="col-sm">
                       <form action="" method="post" accept-charset="UTF-8" onsubmit="return confirm('SUPPRIMER ce post ?');">
                            <input type="hidden" name="action" value="deletePost">
                            <input type="hidden" name="idPost" value="{{ postDetail.id }}" id="checkDeletePost" >
                            <div class="form-check">
                                <label class="form-check-label" for="checkDeletePost">
                                    <button type="submit" class="btn btn-danger"><img src="public\assets\img\trash.svg"></button>
                                </label>
                            </div>
                        </form>
                    </div>  

                    <!-- Publier un article -->  
                    {% if postDetail.isPublished == 0 %}
                        <div class="col-sm">
                            <form action="" method="post" accept-charset="UTF-8" onsubmit="return confirm('PUBLIER ce post ?');">
                                <input type="hidden" name="action" value="publishPost">
                                <input type="hidden" name="idPost" value="{{ postDetail.id }}" id="checkPublishPost" >
                                <div class="form-check">
                                    <label class="form-check-label" for="checkPublishPost">
                                        <button type="submit" class="btn btn-primary"><img src="public\assets\img\globe.svg"></button>
                                    </label>
                                </div>
                            </form>
                        </div>
                    {% endif %} 
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}