{% extends "admin/base.html.twig" %}

{# code security : only admin can access in this page #}
{% block title %} Posts published {% endblock %}

{% block content %}

    <!-- section articles non publiés -->
    <section class="page-section portfolio " id="portfolio">
        <div class="container">

        <!-- Messages de retour d'action-->
        {% if session.ErrorMessage != "" %}
            <div class="d-grid gap-2 col-6 mx-auto">
                <div class="alert alert-danger" role="alert">
                    {{ session.ErrorMessage }}
                </div>
            </div>
        {% endif %}

        {% if session.SuccessMessage != "" %}
            <div class="d-grid gap-2 col-6 mx-auto">
                <div class="alert alert-success" role="alert">
                    {{ session.SuccessMessage}}
                </div>
            </div>
        {% endif %}

            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Articles non publiés</h2>  
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
        <table  class="table container-sm table-dark table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">chapo</th>
                    <th scope="col">Détail</th>            
                    <th scope="col">Publié</th>
                    <th scope="col">Créé le</th>
                    <th  scope="col" colspan="3" align="right">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    {% if post.isPublished == 0 %}
                        <tr>
                            <td><a href="index.php?adminPostDetails/{{post.id}}">{{ post.title }}</a></td>
                            <td>{{ post.chapo }}</td>
                            <td>{{ post.content }}</td>
                            <td>{% if post.isPublished == 0 %}
                                    {{ 'Non' }}
                                {% endif %}
                                {% if post.isPublished == 1 %}
                                    {{ 'Oui' }}
                                {% endif %}
                            </td>
                            <td>{{ post.createdAt }}</td>
                            <!-- Modifier un article -->
                            <td>
                                <a href="index.php?editPostFormular/{{post.id}}" class="btn btn-light">
                                    <img src="public\assets\img\pencil.svg">
                                </a>
                            </td>
                            <!-- Supprimer un article -->
                            <td>
                                <form action="" method="post" accept-charset="UTF-8" onsubmit="return confirm('SUPPRIMER ce post ?');">
                                        <input type="hidden" name="action" value="deletePost">
                                        <input type="hidden" name="idPost" value="{{ post.id }}" id="checkDeletePost" >
                                        <div class="form-check">
                                            <label class="form-check-label" for="checkDeletePost">
                                                <button type="submit" class="btn btn-danger"><img src="public\assets\img\trash.svg"></button>
                                            </label>
                                        </div>
                                    </form>
                            </td>
                           <!-- Publier un article -->
                            <td>
                                <form action="" method="post" accept-charset="UTF-8" onsubmit="return confirm('PUBLIER ce post ?');">
                                    <input type="hidden" name="action" value="publishPost">
                                    <input type="hidden" name="idPost" value="{{ post.id }}" id="checkPublishPost" >
                                    <div class="form-check">
                                        <label class="form-check-label" for="checkPublishPost">
                                            <button type="submit" class="btn btn-primary"><img src="public\assets\img\globe.svg"></button>
                                        </label>
                                    </div>
                                </form>
                            </td>
                        </tr> 
                    {% endif %}    
                {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- section articles publiés -->
    <section class="page-section portfolio " id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Articles publiés</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
        <table class="table container-sm table-dark table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">chapo</th>
                    <th scope="col">Détail</th>            
                    <th scope="col">Publié</th>
                    <th scope="col">Créé le</th>
                    <th  scope="col" colspan="3" align="right">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    {% if post.isPublished == 1 %}
                        <tr>
                            <td><a href="index.php?adminPostDetails/{{post.id}}">{{ post.title }}</a></td>
                            <td>{{ post.chapo }}</td>
                            <td>{{ post.content }}</td>
                            <td>{% if post.isPublished == 0 %}
                                    {{ 'Non' }}
                                {% endif %}
                                {% if post.isPublished == 1 %}
                                    {{ 'Oui' }}
                                {% endif %}
                            </td>
                            <td>{{ post.createdAt }}</td>

                            <!-- Modifier un article -->
                           <td>
                                <a href="index.php?editPostFormular/{{post.id}}" class="btn btn-light">
                                    <img src="public\assets\img\pencil.svg">
                                </a>
                            </td>

                            <!-- Supprimer un article -->
                            <td>
                                <form action="" method="post" accept-charset="UTF-8" onsubmit="return confirm('SUPPRIMER ce post ?');">
                                    <input type="hidden" name="action" value="deletePost">
                                    <input type="hidden" name="idPost" value="{{ post.id }}" id="checkDeletePost" >
                                    <div class="form-check">
                                        <label class="form-check-label" for="checkDeletePost">
                                            <button type="submit" class="btn btn-danger"><img src="public\assets\img\trash.svg"></button>
                                        </label>
                                    </div>
                                </form>
                            </td>
                        </tr> 
                    {% endif %}    
                {% endfor %}
            </tbody>
        </table>
    </section>
    
{% endblock %}
