{% extends "admin/base.html.twig" %}

{# code security : only admin can access in this page #}
{% block title %} Dashboard {% endblock %}

{% block content %}
    <section class="page-section portfolio " id="portfolio">
        <div class="container">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-primary" href="index.php?addPostFormular" role="button">Ajouter un article</a>
            </div>
        </div>
    </div>

    <!-- section articles à publier-->
    <section class="page-section portfolio " id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Articles à publier</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>

        <table class="table container-sm">
            <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">chapo</th>
                    <th scope="col">Détail</th>            
                    <th scope="col">Publié</th>
                    <th scope="col">Créé le</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    {% if post.isPublished == 0 %}
                        <tr>
                            <td><a href="index.php?adminPostDetails/{{post.id}}">{{ post.title }}</a></td>
                            <td>{{ post.chapo }}</td>
                            <td>{{ post.content }}</td>
                            <td>{% if post.isPublished == 0 %}
                                    {{ 'Non' }}
                                {% endif %}
                                {% if post.isPublished == 1 %}
                                    {{ 'Oui' }}
                                {% endif %}
                            </td>
                            <td>{{ post.createdAt }}</td>
                            <td>
                                <form name="edit_post" action="index.php?editPost" method="post">
                                    <div class="form-check">
                                    <input type="hidden" name="idPost" value="{{ post.id }}" id="checkEditPost">
                                        <label class="form-check-label" for="checkEditPost">
                                            <button type="submit">Mod</button>
                                        </label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form name="delete_post" action="index.php?deletePost" method="post">
                                    <div class="form-check">
                                    <input type="hidden" name="idPost" value="{{ post.id }}" id="checkDeletePost" >
                                        <label class="form-check-label" for="checkDeletePost">
                                            <button type="submit">Supp</button>
                                        </label>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form name="publishpublishPost" action="index.php?publishPost" method="post">
                                    <div class="form-check">
                                        <input type="hidden" name="publishPost" value="{{ post.id }}" id="checkPublishPost" >
                                        <label class="form-check-label" for="checkPublishPost">
                                            <button type="submit">Pub</button>
                                        </label>
                                    </div>
                                </form>
                            </td>                   
                        </tr>
                    {% endif %}  
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="page-section portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Commentaires en attente</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
    <!-- commentaires en attente -->
    <table class="table container-sm">
    <thead>
            <tr>
                <th scope="col">Titre article</th>
                <th scope="col">commentaire</th>
                <th scope="col">Date envoi</th>            
                <th scope="col">Publieur</th>
                <th scope="col">E-mail</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
           <tr>
                <td>{{ commentaire.title }}</td>
                <td>{{ commentaire.content }}</td>
                <td>{{ commentaire.createdAt }}</td>
                <td>{{ commentaire.pseudo }}</td>
                <td>{{ commentaire.email }}</td>
                    <td>
                        <form name="valid_comment" action="index.php?validComment" method="post">
                            <div class="form-check">
                            <input type="hidden" name="idComment" value="{{ commentaire.id }}" id="checkValidComment">
                                <label class="form-check-label" for="checkValidComment">
                                    <button type="submit">Valider</button>
                                </label>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form name="delete_comment" action="index.php?deleteComment" method="post">
                            <div class="form-check">
                            <input type="hidden" name="idComment" value="{{ commentaire.id }}" id="checkDeleteComment" >
                                <label class="form-check-label" for="checkDeleteComment">
                                    <button type="submit">Supprimer</button>
                                </label>
                            </div>
                        </form>
                    </td>
                </div>
            </tr> 
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
