{% extends "admin/base.html.twig" %}

{% block title %} Edit Post {% endblock %}

{% block content %}

    <!-- section -->
    <section class="page-section portfolio " id="portfolio">
        <div class="container">

            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Mise à jour d'article</h2>
            
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                {% if errorMessage is defined %}
                    <div class="alert alert-danger" role="alert">
                        {{ errorMessage }}
                    </div>
                {% endif %}

                {% if successMessage is defined %}
                    <div class="alert alert-success" role="alert">
                        {{ successMessage }}
                    </div>
                {% endif %}

                <form  method="post" action="index.php?editPost" accept-charset="UTF-8" enctype="multipart/form-data" onsubmit="return confirm('MODIFIER ce post ?');">

                    <input type="hidden" name="idPost" value="{{ postInformations.idPost }}">
                    {# <input type="hidden" name="idUser" value="{{ userDetail.id }}"> #}
                    <input type="hidden" name="mediaExist" value="{{ postInformations.media }}">
                    <input type="hidden" name="isPublished" value="{{ postInformations.isPublished }}">

                    <div class="mb-3 row">
                        <label for="title" class="col-sm-2 col-form-label">Titre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" name="title" value="{{ postInformations.title }}" required="required">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="chapo" class="col-sm-2 col-form-label">Chapô</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="chapo" name="chapo" value="{{ postInformations.chapo }}" required="required">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="content" class="col-sm-2 col-form-label">Contenu</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" id="content" name="content" required="required" rows="5">{{ postInformations.content}}</textarea>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="createdAt" class="col-sm-2 col-form-label">Crée le </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="createdAt" name="createdAt" value="{{ postInformations.createdAt }}" readonly>
                        </div>
                    </div>

                    {% if  postInformations.updatedAt is not empty %}
                        {% if postInformations.createdAt != postInformations.updatedAt  %}
                            <div class="mb-3 row">
                                <label for="updatedAt" class="col-sm-2 col-form-label">Dernière mise à jour </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="updatedAt" name="updatedAt" value="{{ postInformations.updatedAt }}" readonly>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    
                    <div class="mb-3">
                        <label for="media" class="form-label">Télécharger un Média</label>
                        <input class="form-control form-control-sm" id="media" type="file" name="media">
                    </div>

                    <div class="mb-3 row">
                        <label for="media" class="col-sm-2 col-form-label">Autheur</label>
                        <select class="col-sm-2 col-form-label" name="authorId">
                        {% for authorDetail in author %}
                            <option value="{{authorDetail.id}}" selected>
                                    {{authorDetail.pseudo}}
                            </option>
                        {% endfor %}
                        {% for admin in admins %}
                            <option value="{{ admin.id }}">{{ admin.pseudo }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    
                    {% if  postInformations.isPublished is not empty and postInformations.isPublished == 0 %}
                        <div class="mb-3 row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="publish" id="publish">
                                <label class="form-check-label" for="publish">
                                    Publier ?
                                </label>
                            </div>
                        </div>
                    {% endif %}

                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Mettre à jour</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}