{% extends "templates/base-posts.html.twig" %}

{% block body %}

    {% block navigation %} {{parent()}} {% endblock %}
    <h1> les posts </h1>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                {% for post in posts %}
                    {# <!-- Portfolio Item {{ post.id }} --> #}
                    <div class="col-md-6 col-lg-4 mb-5">
                        <a href="index.php?post/{{ post.id }}" id="post-href">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="public/assets/img/portfolio/{{ post.media }}" alt="..."/>
                            <strong>{{ post.title }}</strong>
                            <p>{{ post.chapo }}</p>
                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %} {# body #}