{% extends "templates/base-posts.html.twig" %}

{% block title %} Article {% endblock %}

{% block body %}
    {% block navigation %} {{parent()}} {% endblock %}

    <!-- Masthead-->
    {% block masthead %}
        <header>
            <div class="container d-flex align-items-center flex-column">
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
            </div>
        </header>
    {% endblock %}  

    <section class="page-section portfolio">
        <div class="container">
            {% for contentPost in post %}
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ contentPost.title }}</h2>
                <!-- Portfolio Modal - Image-->
                <img class="img-fluid rounded mb-5" src="public/assets/img/portfolio/{{ contentPost.media }}" alt="..." />
                <!-- Portfolio Modal - Text-->
                <p class="mb-4">{{ contentPost.content }}</p>
            {% endfor %}
            
            {% for comment in comments %}
                <li>{{ comment.content }}</li>
                <i>{{ comment.updatedAt }}</i>
            {% endfor %}
        </div>
    </section>
{% endblock %} {# body #}