{% extends "base.html.twig" %}

{% block title %} Détail article{% endblock %}

{% block content %}
    <section class="page-section portfolio">
        <div class="row justify-content-center">
        
             {% if session.SuccessMessage is defined and session.SuccessMessage != ""  %}
                <div class="alert alert-success d-grid gap-2 col-6 mx-auto" role="alert">
                    <p class="btn btn-primary">{{ session.SuccessMessage}} </p>
                </div>
            {% endif %}

            {% for contentPost in post %}
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-center text-uppercase mb-0">{{ contentPost.title }}</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <div class="col-lg-8 col-xl-7 text-center">  
                    <!-- Portfolio Modal - Image-->
                    <img class="img-fluid rounded mb-5" src="public/assets/img/portfolio/{{ contentPost.media }}" alt="..." />
                    <!-- Portfolio Modal - Text-->
                    <p class="mb-4"><strong>{{ contentPost.chapo }}</strong></p>
                    <p class="mb-4">{{ contentPost.content }}</p>
                    <p><i>écrit par : {{ author.pseudo }}</i></p>
                    <p><i> Dernière mise à jour :   {% if contentPost.updatedAt %} 
                                                        {{ contentPost.updatedAt }}  
                                                    {% else %}
                                                        {{ 'Publié une seule fois' }}</i>
                                                    {% endif %}
                    </p>
                </div>
                {% if session.user is defined and session.isValidate == 1 %}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-primary" href="index.php?addCommentFormular/{{ contentPost.id }}">Ajouter un commentaire</a>
                    </div>
                {% else %}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-primary" href="index.php?connexion">connectez-vous pour ajouter un commentaire</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- section des commentaires -->
        {% if comments %}
            <section class="page-section portfolio">
                <div class="container">
                    <!-- Portfolio Section Heading-->
                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Commentaires</h2>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                
                    <!-- commentaires -->
                    {% for comment in comments %}
                        <div class="col-lg-8 col-xl-7 text-center"> 
                            <li>{{ comment.content }}</li>
                            <i>{{ comment.updatedAt }}</i>
                        </div>
                    {% endfor %} 
        {% else %}
            <section class="page-section portfolio">
                <div class="container">
                    <!-- Portfolio Section Heading-->
                    <h6 class="page-section-heading text-center text-uppercase text-secondary mb-0">Aucun commentaire</h6>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                </div>
        {% endif %}
            </section>
            </section>
    </section>
        

{% endblock %} {# content #}
